h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

body{
    background-color:#009688;
    display: flex;
    align-items: center;
}

body,html{
    height: 100%;
    width: 100%;
}

.lm-height{
    height: 80vh;
}

/* Utilities */
.lm-p{
    font-size: 15px;
}

.lm-img{
    width: 50px;
}

.lm-img-contact{
    width: 60px;
}
/***  Blocco Generale contatti ****/

.lm-bg-contatti{
    background-color: white;
    
}

/* Utente Sofia */
.lm-bg-sofia{
    background-color: #eaeaea;
}

i{
    color:#b1b1b1;
}
/* Blocco Notifiche */
.lm-bg-notifiche{
    background-color: #8edafc;
}

.lm-icon{
    height: 40px;
    width: 40px;
    background-color: white;
}

.fa-bell-slash{
    color:#8edafc;
}
/* Blocco input */
.lm-input{
    background-color: #f9f9f9;
}

/* Blocco contatti  */

.lm-cursor{
    cursor: pointer;
}

.lm-cursor:hover{
    background-color:#eaeaea ;
}

/***** Blocco Generale Chat *****/

.lm-bg-sfondo{
    background-image: url(img/mine.jpg);
}

.lm-bg-newmessage{
    background-color: #f3eeea;
}

.lm-chat{
    overflow-y: scroll;
    flex-grow: 1;
}


/* Input Chat  */
.lm-btn{
    background-color:#009688 ;
    color: white;
}

/* Proprietà Js  */

.lm-msg{
    margin: 20px 10px;
    padding: 10px 15px;
    border:1px solid black;
    border-radius: 10px;
}

.inviati{
    background-color: #d5f9ba;
    align-self: flex-end;
}

.ricevuti{
    background-color: #ffffff;    
}

